html{
    overflow-x: hidden;
}

body{
    font-family: "Bodoni Moda", serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

.font-exo{
    font-family: 'Exo 2';
}

.font-bodoni{
    font-family: 'Bodoni Moda';
}

.font-secondary{
    font-family: 'Courier New', Courier, monospace;
    font-size: .7em;
    line-height: 1.6;
}

p, li{
    font-family: 'Exo 2';
}



.has-text-info{
    color: #27e3ff !important;
}

.is-info{
    background-color: #27e3ff !important;
}

p small{
    font-size: 0.7em;
}

h1{
    font-size: 8vw;
}

h1 small{
    font-size: 0.56em;
}

header{
    background-color: #2d323b !important;
    font-size: 1.7em;
}

footer{
    font-size: 1.7em;
    padding-bottom: 45px !important;
}

.navbar-item{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

nav{
    background: none !important;
}

.button{
    font-family: 'Exo 2';
}

.font-big{
    font-size: 25vw;
    line-height: 0.86;
}

.font-big small{
    font-size: 16vw;
}

.t1{
    margin-left: 300px;
}

.t1, .t2, .t3{
    background: #27e3ff;
    background: linear-gradient(to right, #27e3ff 0%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.t3{
    background: #27e3ff;
    background: linear-gradient(to right, #27e3ff 50%, #333 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .t3{
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
} */

/* @keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
} */

.icone{
    animation: float_01 4s ease-in-out infinite;
}

.wrap-img{
    overflow: hidden;
}

@keyframes float_01 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(20px); }
    100% { transform: translateY(0); }
}


@media (max-width: 768px) {
    .container{
        padding: 0 50px;
    }
}